
.navbar{
    background-color: #5B4B66;
}

header{
    background-color: #874fb3;
}

.btn{
    background-color:  #613880  !important;
    border:none;
}

.connection{
    background-color:  #9E84B3;
    border:none;
    border-radius: 20px 5px 20px 5px;
}

footer{
    background-color: #5B4B66;
  
}

#erreurMSG{
    color: red;
    font-weight: bold;
}

.new{
    background-color: #9E84B3;
}
